.verify {
    border: 1px solid rgb(238, 217, 217);
    width: 90%;
    margin: 5% auto;
    background-color: rgb(238, 217, 217);
    border-radius: 10px;
    padding: 5%;
    text-align: justify;
    font-size: 15px;

}

.verify__titulo {
    text-align: center;
    margin-bottom: 4%;
    font-size: 24px;
}

.verify__div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verify__boton {
    margin-top: 4%;
    padding: 9px;
    border-radius: 10px;
    background-color: #D99255;
    border: 1px solid #D99255;
    cursor: pointer;
    font-size: 15px;
    transition: .3s ease all;

    &:hover {
        background-color: #b0590e;
        border: 1px solid #b0590e;
    }
}