* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E4CE;
}

.contenedor {
    border: 1px solid #F8F3ED;
    border-radius: 25px;
    width: 92%;
    margin: 3% auto;
    background-color: #F8F3ED;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 45, 1) 23%, rgba(43, 38, 38, 1) 64%, rgba(0, 0, 0, 1) 100%);

    &__imagen--width {
        width: 185px;
    }
}

.header {
    background-color: #efd2ae;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 3;

    &__ul--none {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__a {
        color: black;
        display: block;
        text-decoration: none;
        padding: .5em 1em;
        font-size: 18px;
    }

    &__a:hover {
        border-radius: 3px;
        background: gray;
        color: white;
    }

    &__i--margin {
        margin-right: 10px;
    }

    &__menu-barra {
        position: absolute;
        font-size: 21px;
        line-height: 40px;
        cursor: pointer;
    }
}

.footer {
    border: 1px solid green;
    height: 250px;
    margin-top: 5%;
}