@import url(https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Roboto:wght@100;300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300;400&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2E4CE;
}

.contenedor {
  border: 1px solid #F8F3ED;
  border-radius: 25px;
  width: 92%;
  margin: 3% auto;
  background-color: #F8F3ED;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(40, 40, 45) 23%, rgb(43, 38, 38) 64%, rgb(0, 0, 0) 100%);
}
.logo__imagen--width {
  width: 185px;
}

.header {
  background-color: #efd2ae;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
.header__ul--none {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 18px;
}
.header__a:hover {
  border-radius: 3px;
  background: gray;
  color: white;
}
.header__i--margin {
  margin-right: 10px;
}
.header__menu-barra {
  position: absolute;
  font-size: 21px;
  line-height: 40px;
  cursor: pointer;
}

.footer {
  height: 236px;
  margin-top: 5%;
}
.footer__contenido {
  background-color: rgb(49, 46, 46);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer__informacion, .footer__redes-sociales, .footer__contacto {
  text-align: center;
  padding: 3%;
  padding-bottom: 7%;
}
.footer__informacion--width {
  width: 70%;
}
.footer__redes-sociales--width, .footer__contacto--width {
  width: 55%;
}
.footer__h3 {
  margin-bottom: 3%;
}
.footer__p--justify {
  text-align: justify;
}
.footer__ul {
  list-style: none;
  font-size: 30px;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-evenly;
}
.footer__a {
  text-decoration: none;
  color: white;
}
.footer__copyright {
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.footer__div--padding {
  padding: 1%;
}

.ejemplar {
  width: 90%;
  margin: auto;
}
.ejemplar__titulo {
  text-align: center;
  margin-bottom: 4%;
  padding-top: 2%;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.ventana-alquilar {
  width: 40%;
  border: 1px solid #EFD2AE;
  background-color: #EFD2AE;
  border-radius: 5px;
  position: relative;
  top: 10%;
  padding: 1%;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}
.ventana-alquilar__icono {
  font-size: 16px;
  float: right;
  text-align: right;
  color: black;
  transition: 0.3s ease all;
}
.ventana-alquilar__icono:hover {
  color: red;
}
.ventana-alquilar__h3 {
  text-align: center;
  margin: 2% 0 5% 0;
  font-size: 30px;
}
.ventana-alquilar__form--width {
  width: 100%;
}
.ventana-alquilar__label {
  display: inline-block;
  width: 225px;
  margin-bottom: 4%;
}
.ventana-alquilar__input {
  background-color: #fbfbfb;
  width: 25%;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
  font-size: 12px;
}
.ventana-alquilar__div--flex {
  display: flex;
  justify-content: center;
}
.ventana-alquilar__button {
  width: 30%;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 4%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.ventana-alquilar__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.fondo.active {
  visibility: visible;
}

.ventana-alquilar.active {
  opacity: 1;
  transform: scale(1);
}

.detalles {
  display: flex;
}
.detalles__portada {
  width: 28%;
  height: 300px;
}
.detalles__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.detalles__separador {
  border-right: 1px solid black;
  height: 445px;
  margin-left: 10%;
  margin-bottom: 1%;
}
.detalles__texto {
  margin-left: 10%;
  width: 50%;
}

.texto__subtitulo {
  border-bottom: 1px dotted black;
  padding-bottom: 1%;
}

.texto__table {
  list-style: none;
  margin-bottom: 4%;
}

.texto__td--width {
  width: 75%;
}

.texto__tr--height {
  height: 35px;
}

.texto__epilogo {
  margin-top: 2%;
}

.puntuacion {
  width: 182%;
  display: flex;
}
.puntuacion__a {
  font-size: 29px;
  text-decoration: none;
  color: gray;
}
.puntuacion__p {
  margin-left: 5%;
  line-height: 47px;
}

.puntuacion:hover .puntuacion__a {
  color: rgb(228, 228, 40);
}

.puntuacion > .puntuacion__a:hover ~ a {
  color: gray;
}

.botones {
  width: 101%;
  margin-top: 5%;
}
.botones__a {
  text-decoration: none;
  background-color: #D99255;
  color: white;
  width: 49%;
  padding: 3%;
  border-radius: 3px;
  border: 1px solid #D99255;
  display: inline-block;
  text-align: center;
  transition: 0.3s ease all;
}
.botones__a:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.buscador {
  width: 225px;
  height: 50px;
  margin: 20px auto;
}
.buscador__div {
  position: relative;
}
.buscador__input {
  width: 225px;
  height: 50px;
  background-color: #2b303b;
  border: none;
  font-size: 13px;
  float: left;
  color: #63717f;
  padding-left: 45px;
  border-radius: 5px;
}
.buscador__input:hover, .buscador__input:focus {
  outline: none;
  background: #ffffff;
}
.buscador__icono {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.filtro {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
}
.filtro__p {
  padding: 10px;
}

.ordenar__p {
  padding: 10px;
  cursor: pointer;
}
.ordenar__p:hover {
  border-radius: 5px;
  background-color: #e5d3bc;
}

.ordenar__ul {
  background-color: #e5d3bc;
  padding: 9px;
  font-size: 12px;
  border-radius: 5px;
  list-style: none;
  visibility: hidden;
  position: absolute;
  z-index: 3;
}

.ordenar__a {
  text-decoration: none;
  color: black;
}

.ordenar__li {
  padding-bottom: 15%;
}

.ejemplares {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.libro {
  margin: 15% 0;
}
.libro__img {
  width: 100%;
  height: 100%;
}
.libro__paginas {
  width: 150px;
  height: 220px;
  list-style: none;
  perspective: 800px;
  transform-style: preserve-3d;
}
.libro__paginas li {
  position: absolute;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
  transform-origin: left;
}
.libro__portada, .libro__contraportada, .libro__contratapa {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #222120, #838382);
}
.libro__pagina {
  position: relative;
  width: 96%;
  height: 96%;
  left: 4px;
  top: 2%;
  border: 1px solid lightgray;
  background-color: #fcf9f4;
}
.libro__enlace {
  text-align: center;
  padding-top: 25%;
}
.libro__a {
  text-decoration: none;
  color: black;
}
.libro__a:hover {
  color: blue;
  text-decoration: underline;
}

.libro__paginas:hover .libro__li:nth-of-type(1) {
  transform: rotateY(-160deg);
  transition: 1s;
}

.libro__paginas:hover .libro__li:nth-of-type(2) {
  transform: rotateY(-160deg);
  transition: 1s;
}

.libro__paginas:hover .libro__li:nth-of-type(3) {
  transform: rotateY(-150deg);
  transition: 1.3s;
}

.libro__paginas:hover .libro__li:nth-of-type(4) {
  transform: rotateY(-140deg);
  transition: 1.6s;
}

.libro__paginas:hover .libro__li:nth-of-type(5) {
  transform: rotateY(-130deg);
  transition: 1.9s;
}

.libro__paginas:hover .libro__li:nth-of-type(6) {
  transform: rotateY(-25deg);
  transition: 2.2s;
}

.libro__paginas:hover .libro__li:nth-of-type(7) {
  transform: rotateY(-20deg);
  transition: 2.5s;
}

.libro__paginas .libro__li:nth-of-type(1) {
  transform: rotateY(-28deg);
  transition: 1s;
}

.libro__paginas .libro__li:nth-of-type(2) {
  transform: rotateY(-27deg);
  transition: 1s;
}

.libro__paginas .libro__li:nth-of-type(3) {
  transform: rotateY(-26deg);
  transition: 0.85s;
}

.libro__paginas .libro__li:nth-of-type(4) {
  transform: rotateY(-24deg);
  transition: 0.7s;
}

.libro__paginas .libro__li:nth-of-type(5) {
  transform: rotateY(-22deg);
  transition: 0.55s;
}

.libro__paginas .libro__li:nth-of-type(6) {
  transform: rotateY(-20deg);
  transition: 0.4s;
}

.libro__paginas .libro__li:nth-of-type(7) {
  transform: rotateY(-18deg);
  transition: 0.25s;
}

.salir {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  font-size: 24px;
}
.salir__icono {
  color: black;
  transition: 0.3s ease all;
}
.salir__icono.color {
  color: white;
}
.salir__icono:hover {
  color: red;
}

.menu__div--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 3%;
}

.menu__botones {
  width: 50%;
  margin: auto;
  padding: 2%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid #D99255;
  background-color: white;
  border-radius: 4px;
}

.menu__boton {
  text-decoration: none;
  background-color: #D99255;
  color: white;
  width: 13%;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid #D99255;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease all;
}

.menu__boton:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.menu__pagina {
  width: 10%;
  border-radius: 3px;
  padding: 0.3%;
  margin: auto;
  border: 1px solid #D99255;
  text-align: center;
  background-color: white;
}

.libro__pdf {
  display: flex;
  justify-content: center;
}

.contacto__div {
  text-align: center;
  background-color: #D99255;
  border-radius: 25px 25px 0 0;
  color: white;
}

.contacto__titulo--padding {
  padding: 5%;
}

.formulario__div {
  width: 85%;
  border: 1px solid white;
  margin: auto;
  padding: 5%;
  background-color: white;
  border-radius: 25px;
  margin: 5% auto;
}
.formulario__input {
  background-color: #fbfbfb;
  width: 97%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 2% 0 5% 0;
  padding-left: 3.5%;
}
.formulario__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.formulario__textarea {
  background-color: #fbfbfb;
  width: 97%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 2% 0 5% 0;
  padding: 3.8% 0 0 3.5%;
  resize: none;
}
.formulario__textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.formulario__button {
  padding: 2% 5%;
  margin: 3% 0 5% 0;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 10px;
  width: 97%;
  cursor: pointer;
  color: white;
  transition: 0.3s ease all;
}
.formulario__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.formulario__span--color {
  color: red;
}
.formulario__p--color {
  color: red;
}
.formulario__subtitulo {
  font-size: 1em;
  padding-bottom: 8.5%;
  color: #0e0e0e;
}

.conocenos__div {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 12px;
}

.conocenos__div-dos {
  border-radius: 0 0 25px 25px;
  margin-top: 3%;
  background-color: #D99255;
  padding: 1.5%;
  font-size: 12px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.conocenos__p {
  padding-top: 5%;
  text-align: justify;
}
.conocenos__p--padding {
  padding: 5%;
}
.conocenos__p--color {
  color: white;
}

.conocenos__subtitulo {
  text-align: center;
  margin-top: 2%;
}
.conocenos__subtitulo--color {
  color: white;
}

.verify {
  border: 1px solid rgb(236, 236, 236);
  width: 90%;
  margin: 5% auto;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 5%;
  text-align: justify;
  font-size: 15px;
}

.verify__titulo {
  text-align: center;
  margin-bottom: 4%;
  font-size: 24px;
}

.verify__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify__boton {
  margin: 4% 0 4% 0;
  padding: 9px;
  border-radius: 10px;
  background-color: #D99255;
  border: 1px solid #D99255;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease all;
}
.verify__boton:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.main-login__img {
  margin-right: 5%;
  visibility: hidden;
  position: absolute;
}
.main-login__portada {
  width: 100%;
  height: 100%;
}
.main-login__titulo {
  font-size: 21px;
  text-align: center;
}
.main-login__separador {
  visibility: hidden;
  position: absolute;
}
.main-login__login--padding {
  padding: 4%;
}
.main-login__form--mt {
  margin-top: 9%;
}
.main-login__input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
  font-size: 12px;
}
.main-login__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.main-login__form--mb {
  margin-bottom: 4%;
}
.main-login__recuperar-contrasenia--float {
  float: right;
  font-size: 15px;
}
.main-login__button {
  width: 100%;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 5px;
  color: white;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.main-login__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.main-login__p {
  margin-top: 8%;
  font-size: 15px;
}
.main-login__a--color {
  color: rgb(16, 140, 228);
}

.main-registro--padding {
  padding: 4%;
}
.main-registro__p {
  visibility: hidden;
  position: absolute;
}
.main-registro__separador {
  visibility: hidden;
  position: absolute;
}
.main-registro__form--mt {
  margin-top: 4%;
}
.main-registro__input {
  background-color: #fbfbfb;
  width: 97%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
}
.main-registro__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.main-registro__div--mb {
  margin-bottom: 5%;
}
.main-registro__button {
  background-color: #D99255;
  color: white;
  width: 44%;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid #D99255;
  cursor: pointer;
  transition: 0.3s ease all;
}
.main-registro__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.main-registro__a {
  text-decoration: none;
  background-color: #D99255;
  display: inline-block;
  color: white;
  width: 30%;
  padding: 1%;
  text-align: center;
  border-radius: 3px;
  transition: 0.3s ease all;
}
.main-registro__a:hover {
  background-color: #b0590e;
  border: 0 solid #b0590e;
}
.main-registro__div--ml {
  margin-left: 8%;
}

.menu {
  position: absolute;
  color: black;
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 18px;
  z-index: 3;
}
.menu__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__a {
  text-decoration: none;
}
.menu__a:hover {
  border-radius: 3px;
  background: gray;
  color: white;
}

.usuario {
  border: 1px solid black;
  border-radius: 25px;
  background-color: gray;
  margin: auto;
}
.usuario__perfil {
  display: inline-block;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  width: 30%;
  height: 104px;
  margin: 5% 5%;
  position: relative;
  z-index: 1;
}
.usuario__perfil:hover #cambiar_foto {
  visibility: visible;
}
.usuario__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.usuario__input {
  margin: 3% 0 3% 0;
  background-color: #fbfbfb;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #D99255;
  padding-left: 3.5%;
}
.usuario__div--mb {
  margin-bottom: 5%;
}
.usuario__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.usuario__boton {
  background-color: #D99255;
  border: 1px solid #D99255;
  display: inline-block;
  color: white;
  width: 40%;
  padding: 3% 6%;
  border-radius: 3px;
  margin-top: 3%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.usuario__boton:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.usuario__aviso-renovacion {
  color: red;
}
.usuario__a {
  text-decoration: none;
  background-color: #D99255;
  border: 1px solid #D99255;
  display: inline-block;
  color: white;
  border-radius: 3px;
  padding: 3% 6%;
  margin-top: 5%;
  transition: 0.3s ease all;
}
.usuario__a:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

#cambiar_foto {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.5%;
  background-color: white;
  position: absolute;
  text-align: center;
  line-height: 105px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0.5;
}

#formulario__cambiar-imagen {
  border: 1px solid #D99255;
  border-radius: 10px;
  background-color: #D99255;
  padding: 2%;
  position: absolute;
  visibility: hidden;
}

.usuario__datos-personales,
.usuario__password,
.usuario__socio {
  border: 1px solid white;
  width: 90%;
  margin: auto;
  margin-bottom: 7%;
  font-size: 15px;
  padding: 3%;
  background-color: white;
  border-radius: 10px;
}

.membresia {
  padding: 5%;
}
.membresia__div {
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3%;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.83);
  margin: 8% auto;
  transition: 0.3s ease all;
}
.membresia__precio {
  font-size: 25px;
}
.membresia__tiempo {
  font-size: 17px;
}
.membresia__a {
  background-color: #D99255;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 44%;
  padding: 3%;
  border-radius: 3px;
  margin-top: 5%;
  border: 1px solid #D99255;
  transition: 0.3s ease all;
}
.membresia__a:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

@media screen and (min-width: 600px) {
  .membresia__div {
    width: 398px;
  }

  .membresia__precio {
    font-size: 35px;
  }

  .membresia__tiempo {
    font-size: 27px;
  }
}
@media screen and (min-width: 861px) {
  .membresia {
    display: flex;
    gap: 5%;
  }

  .membresia__div:hover {
    transform: scale(1.2);
  }
}
.verify {
  border: 1px solid rgb(236, 236, 236);
  width: 90%;
  margin: 5% auto;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  padding: 5%;
  text-align: justify;
  font-size: 15px;
}

.verify__titulo {
  text-align: center;
  margin-bottom: 4%;
  font-size: 24px;
}

.verify__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verify__boton {
  margin: 4% 0 4% 0;
  padding: 9px;
  border-radius: 10px;
  background-color: #D99255;
  border: 1px solid #D99255;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s ease all;
}
.verify__boton:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.mensaje {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.mensaje__div {
  width: 50%;
  border: 1px solid #5cd62c;
  position: absolute;
  top: 50%;
  left: 26%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  background-color: #DFF0D8;
}
.mensaje__h2 {
  padding-bottom: 1%;
  color: #0F5133;
}
.mensaje__cerrar {
  display: block;
  text-align: right;
  line-height: 10px;
  padding: 2% 2% 0 0;
}
.mensaje__icono {
  color: black;
  transition: 0.3s ease all;
  cursor: pointer;
}
.mensaje__icono:hover {
  color: red;
}

.mensaje__error {
  color: rgb(211, 49, 49);
  font-family: "DM Sans", sans-serif;
}

.mensaje__error-reset-password-fs {
  font-size: 1rem;
}

.mensaje__error-updateEjemplar-fs {
  font-size: 0.8rem;
}

.mensaje__error-registro-fs {
  font-size: 0.8rem;
}

.mensaje__error-perfil-fs {
  font-size: 0.8rem;
}

.mensaje__error-login-fs {
  font-size: 1rem;
}

.mensaje__exito {
  color: rgb(43, 169, 43);
  font-family: "DM Sans", sans-serif;
}

.mensaje__exito--center,
.mensaje__error--center {
  text-align: center;
}

.mensajes__error-ejemplar {
  width: 95%;
  text-align: start;
  margin: auto;
}

.email--padding {
  padding: 5%;
}

.email__input {
  background-color: #fbfbfb;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
  margin-bottom: 4%;
}
.email__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.email__div--mt {
  margin-top: 3%;
}

.email__button {
  margin-top: 3%;
  background-color: #D99255;
  color: white;
  width: 44%;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid #D99255;
  cursor: pointer;
  transition: 0.3s ease all;
}
.email__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.reset--padding {
  padding: 4%;
}

.reset__titulo {
  text-align: center;
  margin-bottom: 4%;
}

.reset__input {
  background-color: #fbfbfb;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
}
.reset__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.reset__button {
  margin-top: 3%;
  background-color: #D99255;
  color: white;
  width: 68%;
  padding: 1%;
  border-radius: 3px;
  border: 1px solid #D99255;
  cursor: pointer;
  transition: 0.3s ease all;
}
.reset__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.reset__div--mb {
  margin-bottom: 5%;
}

.contenedor__admin {
  border-radius: 25px;
  width: 97%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
}

.menu-admin {
  width: 15%;
  border: 1px solid black;
  background-color: #111924;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  visibility: hidden;
}
.menu-admin__span {
  width: 90%;
  display: block;
  text-align: right;
  padding-top: 3%;
}
.menu-admin__icono-menu {
  color: white;
  cursor: pointer;
  transition: 0.3s ease all;
}
.menu-admin__icono-menu:hover {
  color: red;
}
.menu-admin__li {
  list-style: none;
}
.menu-admin__a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 4% 4%;
  font-family: "Open Sans", sans-serif;
}
.menu-admin__a:hover {
  background-color: white;
  color: black;
}

.admin__span-menu {
  display: block;
  padding: 1% 0 0 1%;
}

.admin__span-icono {
  cursor: pointer;
  transition: 0.3s ease all;
}
.admin__span-icono:hover {
  color: red;
}

.contenido-admin {
  width: 100%;
  border: 1px solid #F8F3ED;
  background-color: #F8F3ED;
  border-radius: 25px;
}

.admin__table {
  border-collapse: collapse;
  margin: 4% auto;
  font-size: 0.8em;
}

.admin__thead {
  background-color: #D99255;
  color: white;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.admin__th,
.admin__td {
  padding: 12px 15px;
}

.admin__tbody-tr {
  border-bottom: 1px solid #ddd;
  font-family: "Roboto", sans-serif;
}

.boton-crear__div {
  text-align: right;
  padding: 2% 2% 0 0;
}

.boton-crear__icono {
  border: 1px solid #D99255;
  border-radius: 5px;
  background-color: #D99255;
  padding: 8px 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease all;
}
.boton-crear__icono:hover {
  color: rgb(50, 211, 50);
}

.ventana-crear {
  width: 40%;
  border: 1px solid #EFD2AE;
  background-color: #EFD2AE;
  border-radius: 5px;
  position: relative;
  top: 1%;
  padding: 1%;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}
.ventana-crear__icono {
  font-size: 16px;
  float: right;
  text-align: right;
  color: black;
  transition: 0.3s ease all;
}
.ventana-crear__icono:hover {
  color: red;
}
.ventana-crear__h3 {
  text-align: center;
  margin: 2% 0 3% 0;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}
.ventana-crear__form--width {
  width: 100%;
}
.ventana-crear__label {
  display: inline-block;
  width: 70px;
  margin-bottom: 4%;
}
.ventana-crear__input {
  background-color: #fbfbfb;
  width: 25%;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
  font-size: 12px;
}
.ventana-crear__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.ventana-crear__div--flex {
  display: flex;
  justify-content: center;
}
.ventana-crear__button {
  width: 30%;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 4%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.ventana-crear__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}

.ventana-crear.active {
  opacity: 1;
  transform: scale(1);
}

.ventana-crear__rol,
.ventana-crear__editorial,
.ventana-crear__coleccion {
  width: 27%;
  font-family: "Roboto", sans-serif;
}

.ventana-crear__rol-h3,
.ventana-crear__editorial-h3,
.ventana-crear__coleccion-h3,
.ventana-crear__autor-h3 {
  margin: 2% 0 6% 0;
  font-family: "Open Sans", sans-serif;
}

.ventana-crear__rol-label {
  width: 36px;
  margin-bottom: 5%;
}

.ventana-crear__editorial-label,
.ventana-crear__colecciom-label,
.ventana-crear__autor-label {
  width: 63px;
  margin-bottom: 5%;
}

.ventana-crear__autor-label {
  width: 125px;
  margin-bottom: 5%;
}

.ventana-crear__rol-input {
  width: 30%;
}

.ventana-crear__editorial-input,
.ventana-crear__coleccion-input,
.ventana-crear__autor-input {
  width: 45%;
}

.admin__boton {
  color: black;
  cursor: pointer;
}
.admin__boton:hover {
  color: #D99255;
}
.admin__boton--hidden {
  visibility: hidden;
}

.admin__usuario-button,
.admin__editorial-button,
.admin__coleccion-button,
.admin__autor-button,
.admin__autor-ape1-button,
.admin__autor-ape2-button,
.admin__usuario-input,
.admin__editorial-input,
.admin__coleccion-input,
.admin__autor-input,
.admin__autor-ape1-input,
.admin__autor-ape2-input,
.admin__usuario-button-cerrar,
.admin__editorial-button-cerrar,
.admin__coleccion-button-cerrar,
.admin__autor-button-cerrar,
.admin__autor-ape1-button-cerrar,
.admin__autor-ape2-button-cerrar {
  visibility: hidden;
  position: absolute;
}

.admin__usuario-button,
.admin__editorial-button,
.admin__coleccion-button,
.admin__autor-button,
.admin__autor-ape1-button,
.admin__autor-ape2-button,
.admin__usuario-button-cerrar,
.admin__editorial-button-cerrar,
.admin__coleccion-button-cerrar,
.admin__autor-button-cerrar,
.admin__autor-ape1-button-cerrar,
.admin__autor-ape2-button-cerrar {
  padding: 2px 4px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;
}

.admin__usuario-button:hover,
.admin__editorial-button:hover,
.admin__coleccion-button:hover,
.admin__autor-button:hover,
.admin__autor-ape1-button:hover,
.admin__autor-ape2-button:hover,
.admin__usuario-button-cerrar:hover,
.admin__editorial-button-cerrar:hover,
.admin__coleccion-button-cerrar:hover,
.admin__autor-button-cerrar:hover,
.admin__autor-ape1-button-cerrar:hover,
.admin__autor-ape2-button-cerrar:hover {
  color: #D99255;
}

.admin__usuario-input {
  background-color: #fbfbfb;
  width: 100px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #D99255;
  padding-left: 3.5%;
}

.admin__editorial-input,
.admin__coleccion-input,
.admin__autor-input,
.admin__autor-ape1-input,
.admin__autor-ape2-input {
  background-color: #fbfbfb;
  width: 200px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #D99255;
  padding-left: 3.5%;
}

.detalles {
  padding: 10px 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.detalles__h2 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
.detalles__grafica {
  border: 1px solid rgba(83, 83, 83, 0.73);
  border-radius: 10px;
  padding: 17px;
  width: 45%;
  box-shadow: 14px 11px 7px -7px rgba(0, 0, 0, 0.73);
}
.detalles__alquileres {
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border: 1px solid rgba(83, 83, 83, 0.73);
  border-radius: 10px;
  padding: 17px;
  box-shadow: 14px 11px 7px -7px rgba(0, 0, 0, 0.73);
}

.ventana-crear__ejemplar {
  width: 28%;
  top: 0%;
}

.ventana-crear__input-ejemplar {
  width: 33%;
  padding-left: 2.5%;
}

.ventana-crear__ejemplar input[type=file] {
  display: none;
}

.admin__contenido-ejemplar--ellipsis {
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin__ejemplar-portada {
  width: 74%;
  height: 35px;
}

.ejemplar__textarea {
  background-color: #fbfbfb;
  width: 97%;
  height: 110px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 2% 0 1% 0;
  padding: 3.8% 0 0 3.5%;
  resize: none;
}
.ejemplar__textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.ventana-crear__ejemplar-file {
  width: 117px;
  border: 1px solid #D99255;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 3%;
  margin-left: 74px;
}

.admin-crear__ejemplar-label-select {
  display: inline-block;
  width: 70px;
  margin-bottom: 4%;
}

.admin-crear__ejemplar-select {
  background-color: #fbfbfb;
  height: 23px;
  border-radius: 5px;
  border: 1px solid #D99255;
}
.admin-crear__ejemplar-select:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.editar-ejemplar {
  width: 50%;
  margin: auto;
  padding: 11px 0;
}
.editar-ejemplar__div--flex {
  display: flex;
  justify-content: space-evenly;
}
.editar-ejemplar__h1 {
  text-align: center;
  margin-bottom: 4%;
  font-family: "Open Sans", sans-serif;
}
.editar-ejemplar__label {
  display: inline-block;
  width: 75px;
  margin-bottom: 4%;
}
.editar-ejemplar__input {
  background-color: #fbfbfb;
  width: 25%;
  height: 31px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 1% 0 1% 0;
  padding-left: 3.5%;
  font-size: 12px;
}
.editar-ejemplar__input:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.editar-ejemplar__button {
  width: 30%;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 4%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.editar-ejemplar__button:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.editar-ejemplar__a {
  text-decoration: none;
  line-height: 27px;
  text-align: center;
  width: 30%;
  background-color: #D99255;
  border: 1px solid #D99255;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin-top: 4%;
  cursor: pointer;
  transition: 0.3s ease all;
}
.editar-ejemplar__a:hover {
  background-color: #b0590e;
  border: 1px solid #b0590e;
}
.editar-ejemplar__textarea {
  background-color: #fbfbfb;
  width: 97%;
  height: 110px;
  border-radius: 5px;
  border: 1px solid #D99255;
  margin: 2% 0 1% 0;
  padding: 3.8% 0 0 3.5%;
  resize: none;
}
.editar-ejemplar__textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}
.editar-ejemplar__select {
  background-color: #fbfbfb;
  height: 23px;
  border-radius: 5px;
  border: 1px solid #D99255;
}
.editar-ejemplar__select:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
}

.pagination li {
  background-color: #FFFFFF;
  padding: 5px 10px;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.pagination a:hover {
  color: #E74449;
}

.pagination .active {
  color: #E74449;
}

@media screen and (max-width: 375px) {
  .mensaje__error-login-fs {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 504px) {
  .ordenar__ul {
    font-size: 14px;
  }
}
@media screen and (min-width: 548px) {
  .usuario {
    width: 502px;
  }

  .main-login {
    width: 461px;
    margin: auto;
    margin-top: 9%;
  }

  .main-registro {
    width: 461px;
    margin: auto;
  }

  .reset__div {
    width: 502px;
    margin: auto;
  }

  .reset__titulo {
    font-size: 40px;
  }

  .reset__input {
    height: 40px;
    font-size: 15px;
  }

  .reset__label {
    font-size: 17px;
  }

  .reset__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 642px) {
  .formulario__div {
    width: 498px;
    padding: 50px;
  }
}
@media screen and (min-width: 667px) {
  .email__div {
    width: 547px;
    margin: auto;
  }

  .email__input {
    height: 40px;
    font-size: 15px;
  }

  .email__label {
    font-size: 19px;
  }

  .email__button {
    font-size: 16px;
  }
}
@media screen and (min-width: 700px) {
  .footer__informacion--width {
    width: 50%;
  }

  .footer__redes-sociales--width,
.footer__contacto--width {
    width: 25%;
  }

  .footer__copyright {
    height: 55px;
  }
}
@media screen and (min-width: 768px) {
  .verify__boton {
    font-size: 16px;
    margin: 4% 0 2% 0;
  }

  .verify {
    font-size: 17px;
  }

  .verify__titulo {
    font-size: 31px;
  }

  .libro {
    margin: 7% 0;
  }

  .buscador {
    width: 300px;
  }
  .buscador__input {
    width: 300px;
  }
}
@media screen and (max-width: 860px) {
  .header__ul {
    position: absolute;
    left: -141px;
    background-color: #dda056;
    border-radius: 3px;
  }

  .header__menu-barra {
    visibility: visible;
  }

  .header--height {
    height: 70px;
  }
}
@media screen and (min-width: 861px) {
  .usuario__perfil {
    height: 159px;
  }

  .perfil {
    /* margin-bottom: 7%; */
    display: grid;
    grid-template-columns: 25% 62%;
    gap: 10%;
  }

  .menu {
    border: 1px solid black;
    border-radius: 25px;
    background-color: gray;
    height: 500px;
    margin-left: 10%;
    position: relative;
    visibility: visible;
    z-index: 2;
  }

  .usuario {
    width: 100%;
  }

  .usuario__div {
    display: flex;
    gap: 3%;
  }

  .usuario__div--width {
    width: 100%;
  }

  .usuario__input {
    height: 45px;
  }

  .usuario__boton {
    width: 27%;
    padding: 2% 6%;
  }

  .usuario__a {
    width: 27%;
    padding: 2% 6%;
  }

  .header__ul {
    display: flex;
    justify-content: center;
  }

  .header__menu-barra {
    visibility: hidden;
  }

  .main-login__form {
    width: 105%;
    margin: auto;
    margin-top: 9%;
  }

  .main-login__separador {
    visibility: visible;
    position: relative;
    border-left: 1px solid black;
    max-height: 450px;
  }

  .main-login {
    width: 86%;
    margin: auto;
    margin-top: 3%;
    padding-bottom: 4%;
    display: grid;
    grid-template-columns: 50% 1fr 50%;
  }

  .main-login__input {
    font-size: 15px;
  }

  .main-login__recuperar-contrasenia {
    font-size: 17px;
  }

  .main-login__p {
    font-size: 17px;
  }

  .main-login__portada {
    width: 100%;
    height: 100%;
  }

  .main-login__img {
    margin-right: 3%;
    visibility: visible;
    position: relative;
  }

  .main-registro__form {
    width: 90%;
  }

  .main-registro__div {
    display: flex;
  }

  .main-registro__div--width {
    width: 33%;
  }

  .main-registro__div--mb {
    margin-bottom: 2%;
  }

  .main-registro__email--width {
    width: 57%;
  }

  .main-registro__date--width {
    width: 46%;
  }

  .main-registro__password--width {
    width: 56%;
  }

  .main-registro__p {
    visibility: visible;
    position: relative;
  }

  .main-registro {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    padding-bottom: 4%;
    display: grid;
    grid-template-columns: 30% 1fr 80%;
  }

  .main-registro__separador {
    visibility: visible;
    position: relative;
    border-left: 1px solid black;
    max-height: 450px;
  }

  .conocenos__div,
.conocenos__div-dos {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .ejemplares {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .libro {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1086px) {
  .header__a {
    padding: 0.5em 2em;
  }
}
@media screen and (min-width: 1154px) {
  .header__a {
    padding: 0.5em 2em;
  }
}
@media screen and (min-width: 1440px) {
  .verify__boton {
    font-size: 18px;
  }

  .verify {
    font-size: 19px;
  }

  .verify__titulo {
    font-size: 42px;
  }
}
