/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E4CE;
}

.contenedor {
    border: 1px solid #F8F3ED;
    border-radius: 25px;
    width: 92%;
    margin: 3% auto;
    background-color: #F8F3ED;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 45, 1) 23%, rgba(43, 38, 38, 1) 64%, rgba(0, 0, 0, 1) 100%);
}

.imagenbuho {
    width: 185px;
}

/*------------------------------------*/

.header {
    background-color: #efd2ae;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    font-size: 18px;
}

nav li a:hover {
    border-radius: 3px;
    background: gray;
    color: white;
}

i {
    margin-right: 10px;
}

#menu_barra {
    position: absolute;
    font-size: 21px;
    line-height: 40px;
    cursor: pointer;
}



/*-------------------------------------------*/

footer {
    border: 1px solid green;
    height: 250px;
    margin-top: 5%;
}

/*Inicio*/

.caja,
.caja2,
.caja3,
.caja4 {
    /* border: 1px solid black; */
}

.caja {
    height: 540px;
}

.caja2,
.caja3,
.caja4 {
    height: 696px;
}

/*Registro*/

.main_registro {
    padding: 4%;
}

.tex {
    visibility: hidden;
    position: absolute;
}

.palo {
    visibility: hidden;
    position: absolute;
}

.form_registro {
    /* width: 80%; */
    margin-top: 4%;
}

.form_registro input {
    background-color: #fbfbfb;
    width: 97%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 1% 0 1% 0;
    padding-left: 3.5%;
    margin-bottom: 4%;
}

.form_registro input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.registro_nombre_apellidos,
.registro_email_feNacimiento,
.registro_contrasenia {
    margin-bottom: 3%;
}

.registro_boton_crear_cuenta {
    background-color: #D99255;
    color: white;
    width: 44%;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid #D99255;
}

.boton_cancelar {
    text-decoration: none;
    background-color: #D99255;
    display: inline-block;
    color: white;
    width: 30%;
    padding: 1%;
    text-align: center;
    border-radius: 3px;
}

.registro {
    margin-left: 8%;
}

/*Login*/

.login {
    padding: 4%;
}

.login h1 {
    font-size: 21px;
    text-align: center;
}

.img {
    margin-right: 5%;
    visibility: hidden;
    position: absolute;
}

.portada_login {
    width: 100%;
    height: 100%;
}

.form_login {
    margin-top: 9%;
}

.form_login input {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 1% 0 1% 0;
    padding-left: 3.5%;
    font-size: 12px;
}

.form_login input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.login_form_group {
    margin-bottom: 4%;
}

.login_form_group:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.login_right {
    float: right;
    font-size: 15px;
}

.btn_login {
    width: 100%;
    background-color: #D99255;
    border: 1px solid #D99255;
    border-radius: 5px;
    color: white;
    height: 30px;
}

.login_enlace_crear_cuenta {
    margin-top: 8%;
    font-size: 15px;
}

.enlace_registro {
    color: rgb(16, 140, 228);
}

/* Cuenta de usuario*/

.fa-ellipsis-v {
    font-size: 25px;
    /* position: relative;
    left: 48%;
    top: 10%; */
}

.menus {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 3%;
}

.menu_user_account ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_user_account {
    position: absolute;
    color: black;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    font-size: 18px;
    z-index: 3;
}

.menu_user_account li a:hover {
    border-radius: 3px;
    background: gray;
    color: white;
}

.menu_user_account a {
    /* width: 50%;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    visibility: visible;
    color: black; */
    /* display: block; */
    /* text-decoration: none;
    padding: .5em 1em;
    font-size: 18px;
    left: 100%; */
}

.usuario {
    border: 1px solid black;
    border-radius: 25px;
    background-color: gray;
    margin: auto;
}

.foto_usuario {
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 30%;
    height: 104px;
    margin: 5% 5%;
    position: relative;
    z-index: 1;
}

.usufoto {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.foto_usuario:hover #cambiar_foto {
    visibility: visible;
}

#cambiar_foto {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5%;
    background-color: white;
    position: absolute;
    text-align: center;
    line-height: 200px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0.5;
}

#form {
    border: 1px solid #D99255;
    border-radius: 10px;
    background-color: #D99255;
    padding: 2%;
    position: absolute;
    visibility: hidden;
}

.userr,
.user2,
.user3 {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    margin-bottom: 7%;
    font-size: 15px;
    padding: 3%;
    background-color: white;
    border-radius: 10px;
}

.usuario_nombre_apellidos input {
    width: 100%;
}

.userr input {
    margin: 3% 0 5% 0;
    background-color: #fbfbfb;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #D99255;
    padding-left: 3.5%;
}

.userr label {
    margin-bottom: 5%;
}

.userr input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.user2 input {
    margin: 3% 0 5% 0;
    background-color: #fbfbfb;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #D99255;
    padding-left: 3.5%;
}

.user2 label {
    margin-bottom: 5%;
}

.user2 input:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.perfil_boton {
    background-color: #D99255;
    border: 1px solid #D99255;
    display: inline-block;
    color: white;
    width: 40%;
    padding: 3% 6%;
    border-radius: 3px;
}

.aviso_renovacion {
    color: red;
}

/*Conocenos*/

.contenedor_conocenos {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.contenedor_conocenos p {
    padding-top: 5%;
    text-align: justify;
}

.contenedor_conocenos_2 {
    border-radius: 0 0 25px 25px;
    margin-top: 3%;
    background-color: #D99255;
    padding: 1.5%;
    font-size: 12px;

    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.contenedor_conocenos_2 .titulo {
    text-align: center;
    margin-top: 2%;
}

.contenedor_conocenos_2 .texto {
    padding: 5%;
}

.titulo,
.texto {
    color: white;
}


/*Contacto*/
.contacto {
    text-align: center;
    background-color: #D99255;
    border-radius: 25px 25px 0 0;
    color: white;
}

.contacto h1 {
    padding: 5%;
}

.formulario {
    width: 85%;
    border: 1px solid white;
    margin: auto;
    padding: 5%;
    background-color: white;
    border-radius: 25px;
    margin: 5% auto;
}

.formulario input {
    background-color: #fbfbfb;
    width: 97%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 2% 0 5% 0;
    padding-left: 3.5%;
}

textarea {
    background-color: #fbfbfb;
    width: 97%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 2% 0 5% 0;
    padding: 3.8% 0 0 3.5%;
    resize: none;
}

.formulario button {
    padding: 2% 5%;
    margin: 3% 0 5% 0;
    background-color: #D99255;
    border: 1px solid #D99255;
    border-radius: 10px;
    width: 97%;
    cursor: pointer;
    color: white;
}

.obligatorio {
    color: red;
}

.aviso {
    color: red;
}

.formulario_subtitulo {
    font-size: 1em;
    padding-bottom: 8.5%;
    color: #0e0e0e;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}


/*Verificación*/

.mensaje {
    border: 1px solid #D99255;
    width: 60%;
    margin: 5% auto;
    background-color: #D99255;
    border-radius: 10px;
    padding: 5%;
}

.mensaje_titulo {
    text-align: center;
    color: white;
}

/*Recuperar Contraseña*/

.formulario_email_recuperar_contrasenia {
    margin: 7% auto;
}

.titulo_cambiar_contrasenia {
    text-align: center;
    margin: 4% 0 2% 0;
}

.formulario_recuperar_contrasenia {
    width: 50%;
    margin: auto;
}

.btn_actualizar_contrasenia,
.btn_enviar_link {
    width: 100%;
    background-color: #D99255;
    color: white;
    margin: 6% auto;
}

/*Membresia*/

.membresias {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 2%;
    justify-content: space-around;
    margin: 8% 0 11% 0;
}

.unMes,
.seisMeses,
.unAnio {
    border: 1px solid black;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.83);
    box-shadow: 10px 10px 6px -6px rgba(0, 0, 0, 0.83);
}

.unMes:hover {
    transform: scale(1.5);
}

.seisMeses:hover {
    transform: scale(1.5);
}

.unAnio:hover {
    transform: scale(1.5);
}

/**/
/* .bbb {
    width: 22%;
    height: 57px;
    line-height: 150px;
    display: inline-block;
} */

@media screen and (min-width: 456px) {

    /*Login*/
    .form_registro {
        width: 353px;
    }
}

@media screen and (min-width: 548px) {

    /*Login*/
    .form_login {
        width: 461px;
        margin: auto;
        margin-top: 9%;
    }

    .usuario {
        width: 502px;
    }
}

@media screen and (min-width: 642px) {

    /*Conocenos*/
    .formulario {
        width: 498px;
        padding: 50px;
    }
}

@media screen and (min-width: 861px) {

    /*Perfil*/

    .fa-ellipsis-v {
        visibility: hidden;
    }

    .foto_usuario {
        height: 159px;
    }

    .main_user_account {
        /* margin-bottom: 7%; */

        display: grid;
        grid-template-columns: 25% 62%;
        gap: 10%;
    }

    .menu_user_account {
        border: 1px solid black;
        border-radius: 25px;
        background-color: gray;
        height: 500px;
        margin-left: 10%;
        position: relative;
        visibility: visible;
    }

    .usuario {
        width: 100%;
    }

    .userr .usuario_nombre_apellidos {
        display: flex;
        gap: 3%;
    }

    .usuario_nombre_apellidos div {
        width: 100%;
    }

    .userr .usuario_email_password {
        display: flex;
        gap: 3%;
    }

    .usuario_email_password div {
        width: 100%;
    }

    .userr input {
        height: 45px;
    }

    .user2 .usuario_contrasenias {
        display: flex;
        gap: 3%;
    }

    .usuario_contrasenias div {
        width: 100%;
    }

    .user2 input {
        height: 45px;
    }


    .perfil_boton {
        width: 27%;
        padding: 2% 6%;
    }

    /*Registro*/

    .form_registro {
        width: 90%;
    }

    .registro_nombre_apellidos {
        display: flex;
    }

    .registro_email_feNacimiento {
        display: flex;
    }

    .registro_contrasenia {
        display: flex;
    }

    .grupoA {
        width: 33%;
    }

    .ema:first-child {
        width: 57%;
    }

    .ema:nth-child(2) {
        width: 46%;
    }

    .pass {
        width: 56%;
    }

    .tex {
        visibility: visible;
        position: relative;
    }

    .main_registro {
        width: 90%;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 4%;

        display: grid;
        grid-template-columns: 30% 1fr 80%;
    }

    /*Login*/

    .form_login {
        width: 105%;
        margin: auto;
        margin-top: 9%;
    }

    .main_login {
        width: 86%;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 4%;

        display: grid;
        grid-template-columns: 50% 1fr 50%;
    }

    .form_login input {
        font-size: 15px;
    }

    .login_right {
        font-size: 17px;
    }

    .login_enlace_crear_cuenta {
        font-size: 17px;
    }

    .portada_login {
        width: 100%;
        height: 100%;
    }

    .img {
        margin-right: 3%;
        visibility: visible;
        position: relative;
    }

    /*General*/

    .palo {
        visibility: visible;
        position: relative;
        border-left: 1px solid black;
        height: 439px;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    #menu_barra {
        visibility: hidden;
    }

    /*Conocenos*/

    .contenedor_conocenos,
    .contenedor_conocenos_2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 860px) {

    nav ul {
        position: absolute;
        left: -141px;
        background-color: #dda056;
        border-radius: 3px;
    }

    .menu_user_account ul {
        position: absolute;
        left: -150px;
        background-color: #dda056;
        border-radius: 3px;
        padding: 19%;
    }

    #menu_barra {
        visibility: visible;
    }

    .header {
        height: 70px;
    }
}

@media screen and (min-width: 1086px) {

    /*General*/
    nav li a {
        padding: .5em 2em;
    }
}

@media screen and (min-width: 1154px) {

    /*General*/
    nav li a {
        padding: .5em 2em;
    }
}
