/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E4CE;
}

.contenedor {
    border: 1px solid #F8F3ED;
    border-radius: 25px;
    width: 92%;
    margin: 3% auto;
    background-color: #F8F3ED;
}

.logo {
    margin: 10% 0 -24px 8%;
}

.imagenbuho {
    width: 185px;
    margin-bottom: 15%;
}

.logo_login_registro {
    width: 7%;
    margin-left: 44%;
    margin-top: 2%;
}

.palo {
    border-left: 1px solid black;
    height: 385px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    display: inline;
    line-height: 110px;
}

.nave a {
    margin-right: 10%;
    font-size: 1.3em;
}

.nave {
    margin-left: 10%;
}

.iconos {
    margin-left: 30%;
}

.iconos a {
    margin-right: 10%;
}

footer {
    border: 1px solid green;
    height: 250px;
    margin-top: 5%;
}

/*Inicio*/

.header_home {
    display: grid;
    grid-template-columns: 20% 2fr 1fr;
}

.caja,
.caja2,
.caja3,
.caja4 {
    border: 1px solid black;
}

.caja {
    height: 540px;
}

.caja2,
.caja3,
.caja4 {
    height: 696px;
}

#menu_desplegable_usuario {
    border: 1px solid black;
    width: 6.8%;
    position: absolute;
    left: 86.5%;
    top: 17%;
    text-align: center;
    visibility: hidden;
}

#menu_desplegable_usuario p {
    border: 1px solid black;
    background-color: #F2E4CE;
}

#flecha {
    position: absolute;
    top: 15%;
    left: 88.9%;
    visibility: hidden;
}

/*Registro*/

.main_registro {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    padding-bottom: 4%;

    display: grid;
    grid-template-columns: 30% 1fr 80%;
}

.form_registro {
    width: 80%;
}

.registro_nombre_apellidos,
.registro_email_feNacimiento,
.registro_contrasenia {
    margin-bottom: 3%;
}

.registro_nombre_apellidos {
    display: flex;
    gap: 1.5%;
}

.registro_email_feNacimiento {
    display: flex;
    gap: 3%;
}

.registro_contrasenia {
    display: flex;
    gap: 3%;
}

.registro_boton_crear_cuenta {
    background-color: #D99255;
    color: white;
}

.btn_registro {
    width: 30%;
}

.registro {
    margin-left: 8%;
}

/*Login*/

.main_login {
    width: 86%;
    margin: auto;
    margin-top: 3%;
    padding-bottom: 4%;

    display: grid;
    grid-template-columns: 50% 1fr 50%;
}

.login {
    margin-left: 12%;
}

.img{
    margin-right: 3%;
}

.portada_login {
    width: 100%;
    height: 100%;
}

.form_login {
    margin-top: 5%;
}

.login_form_group {
    margin-bottom: 4%;
}

.login_form_group:focus {
    outline: 0;
    border: 1px solid #97d848;
}

.login_right {
    float: right;
}

.btn_login {
    width: 100%;
    background-color: #D99255;
    color: white;
}

.login_enlace_crear_cuenta {
    margin-top: 5%;
}

.enlace_registro {
    color: rgb(16, 140, 228);
}

/* .enlace_registro:hover {
    color: rgb(16, 140, 228);
} */

/* Cuenta de usuario*/

.main_user_account {
    margin-bottom: 7%;

    display: grid;
    grid-template-columns: 25% 62%;
    gap: 10%;
}

.menu_user_account {
    border: 1px solid black;
    border-radius: 25px;
    background-color: gray;
    height: 500px;
    margin-left: 10%;
}

.usuario {
    border: 1px solid black;
    border-radius: 25px;
    background-color: gray;
}

.foto_usuario {
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    width: 25%;
    height: 200px;
    margin: 5% 5%;
}

.usufoto {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cambiar_foto {
    border: 1px solid white;
    border-radius: 40px;
    padding: 0.5%;
    background-color: white;
    position: absolute;
    right: 46.8%;
}

.userr,
.user2,
.user3 {
    border: 1px solid white;
    width: 90%;
    height: 150px;
    margin: auto;
    margin-bottom: 7%;
}

/*Conocenos*/

.contenedor_conocenos {
    width: 50%;
    margin: auto;
    text-align: center;
}

.contenedor_conocenos p {
    padding-top: 5%;
    text-align: justify;
}

.contenedor_conocenos_2 {
    border-radius: 0 0 25px 25px;
    margin-top: 3%;
    background-color: #D99255;

    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.contenedor_conocenos_2 .titulo {
    text-align: center;
    margin-top: 2%;
}

.contenedor_conocenos_2 .texto {
    padding: 5%;
}

.titulo,
.texto {
    color: white;
}


/*Contacto*/
.contacto {
    text-align: center;
    background-color: #D99255;
    color: white;
}

.contacto h1 {
    padding: 5%;
}

.formulario {
    width: 35%;
    border: 1px solid white;
    margin: auto;
    padding: 5%;
    background-color: white;
    border-radius: 25px;
    margin: 5% auto;
}

.formulario input {
    background-color: #fbfbfb;
    width: 97%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 2% 0 5% 0;
    padding-left: 3.5%;
}

textarea {
    background-color: #fbfbfb;
    width: 97%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 2% 0 5% 0;
    padding: 3.8% 0 0 3.5%;
    resize: none;
}

.formulario button {
    padding: 2% 5%;
    margin: 3% 0 5% 0;
    background-color: #D99255;
    border: 1px solid #D99255;
    border-radius: 10px;
    width: 97%;
    cursor: pointer;
    color: white;
}

.obligatorio {
    color: red;
}

.aviso {
    color: red;
}

.formulario_subtitulo {
    font-size: 1em;
    padding-bottom: 8.5%;
    color: #0e0e0e;
}

.formulario input:focus {
    outline: 0;
    border: 1px solid #97d848;
}


.formulario textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
}


/*Verificación*/

.mensaje {
    border: 1px solid #D99255;
    width: 60%;
    margin: 5% auto;
    background-color: #D99255;
    border-radius: 10px;
    padding: 5%;
}

.mensaje_titulo {
    text-align: center;
    color: white;
}
