.conocenos__div {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

.conocenos__div-dos {
    border-radius: 0 0 25px 25px;
    margin-top: 3%;
    background-color: #D99255;
    padding: 1.5%;
    font-size: 12px;

    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.conocenos__p {
    padding-top: 5%;
    text-align: justify;

    &--padding {
        padding: 5%;
    }

    &--color {
        color: white;
    }
}

.conocenos__subtitulo {
    text-align: center;
    margin-top: 2%;

    &--color {
        color: white;
    }
}