.menu-usuario {
    width: 80%;
    border: 1px solid black;
    background-color: #111924;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    height: max-content;

    &__span {
        width: 90%;
        display: block;
        text-align: right;
        padding-top: 3%;
        visibility: hidden;
        position: absolute;
    }

    &__icono {
        color: white;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            color: red;
        }
    }

    &__li {
        list-style: none;
    }

    &__a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 4% 4%;
        // font-family: $apartados-font;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}

.usuario {
    border: 1px solid #F2E4CE;
    border-radius: 25px;
    background-color: #F2E4CE;
    margin: 30px 0;
    box-shadow: 8px 7px 7px -1px #867253;

    &__perfil {
        display: inline-block;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        width: 25%;
        height: 104px;
        margin: 5% 5%;
        position: relative;
        z-index: 1;
    }

    &__perfil:hover .usuario__imagen-label {
        visibility: visible;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__input {
        margin: 3% 0 3% 0;
        background-color: #fbfbfb;
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #D99255;
        padding-left: 3.5%;
    }

    &__div--mb {
        margin-bottom: 5%;
    }

    &__input:focus {
        outline: 0;
        border: 1px solid #97d848;
    }

    &__boton {
        background-color: #D99255;
        border: 1px solid #D99255;
        display: inline-block;
        color: white;
        width: 40%;
        padding: 3% 6%;
        border-radius: 3px;
        margin-top: 3%;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            background-color: #b0590e;
            border: 1px solid #b0590e;
        }
    }

    &__aviso-renovacion {
        color: red;
    }

    &__a {
        text-decoration: none;
        background-color: #D99255;
        border: 1px solid #D99255;
        display: inline-block;
        color: white;
        border-radius: 3px;
        padding: 3% 6%;
        margin-top: 5%;
        transition: .3s ease all;

        &:hover {
            background-color: #b0590e;
            border: 1px solid #b0590e;
        }
    }
}

.usuario__imagen-label {
    width: 100%;
    height: 157px;
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 3%;
    opacity: 0.5;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario__form-imagen {
    position: absolute;
    width: 100%;
}

.usuario__perfil input[type=file] {
    display: none;
}

#formulario__cambiar-imagen {
    border: 1px solid #D99255;
    border-radius: 10px;
    background-color: #D99255;
    padding: 2%;
    position: absolute;
    visibility: hidden;
}

.usuario__datos-personales,
.usuario__password,
.usuario__socio {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    margin-bottom: 7%;
    font-size: 15px;
    padding: 3%;
    background-color: white;
    border-radius: 10px;
}