@media screen and (max-width: 375px) {

    // Mensajes
    .mensaje__error-login-fs {
        font-size: 0.8rem;
    }
}

@media screen and(min-width: 425px) {

    // Perfil
    .ejemplares__alquileres-nada {
        font-size: 1.5em;
    }

    .usuario__perfil {
        width: 113.94px;
    }

    // Admin crear 
    .ventana-crear__rol,
    .ventana-crear__editorial,
    .ventana-crear__coleccion,
    .ventana-crear__autor {
        width: 382px;
    }

    .ventana-crear__autor-label {
        width: 170px;
    }

    // Admin Ejemplar
    .editar-ejemplar__form {
        width: 385px;
        margin: auto;
        margin-top: 15px;
    }

    // Admin crear
    .boton-crear__div {
        padding: 2% 2% 0 0;
    }

    // Carrito
    .carrito__nada {
        font-size: 2em;
    }

    .carrito {
        width: 388px;
    }

    // Detalles del ejemplar
    .detalles {
        width: 350px;
        margin: auto;
    }

    // WishList
    .wishlist {
        width: 389px;
        margin: 4% auto;

        &__titulo {
            font-size: 4em;
        }

        &__nada {
            font-size: 1.5em;
        }
    }
}

@media screen and(min-width: 472px) {

    // Admin Ejemplar
    .ventana-crear__ejemplar {
        width: 457px;
    }
}

@media screen and (min-width:480px) {

    // Index
    .inicio__a {
        font-size: 34px;
    }
}

@media screen and(min-width:524px) {

    // Detalles del ejemplar
    .ventana-alquilar {
        width: 471px;
    }
}

@media screen and (min-width: 504px) {

    //ejemplares
    .ordenar__ul {
        font-size: 14px;
    }
}

@media screen and (max-width: 527px) {

    // Perfil
    .usuario__td {
        padding: 12px 0px;
    }

    .usuario__thead-tr {
        width: 205px;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .usuario__thead {
        display: none;
    }

    .usuario__td[data-datos] {
        display: flex;
    }

    .usuario__td[data-datos]::before {
        content: attr(data-datos);
        width: 120px;
        color: #D99255;
        font-weight: bold;
    }
}

@media screen and (min-width: 548px) {

    // Perfil
    .usuario {
        width: 471px;
        margin: 30px auto;
    }

    .menu-usuario {
        width: 502px;
        margin: auto;
    }

    // Login
    .main-login {
        width: 461px;
        margin: auto;
        margin-top: 9%;
    }

    // Registro
    .main-registro {
        width: 461px;
        margin: auto;
    }

    // Reset
    .mensaje__error-reset-password-fs {
        font-size: 1rem;
    }

    // Ejemplar Admin
    .mensaje__error--fs,
    .mensaje__exito--fs {
        font-size: 1em;
    }

    .reset__div {
        width: 502px;
        margin: auto;
    }

    .reset__titulo {
        font-size: 40px;
    }

    .reset__input {
        height: 40px;
        font-size: 15px;
    }

    .reset__label {
        font-size: 17px;
    }

    .reset__button {
        font-size: 16px;
    }
}

@media screen and (max-width:599px) {

    // Admin Index
    .admin-inicio__alquileres {
        overflow-x: auto;
    }
}

@media screen and (min-width:600px) {

    // Admin Index
    .admin-inicio__grafica {
        width: 558px;
        margin: auto;
        margin-bottom: 35px;
    }

    .admin-inicio__alquileres {
        width: 558px;
        margin: auto;
    }
}

@media screen and(max-width: 630px) {

    // Admin Editorial y Colección
    .admin__table--editorial {
        width: 74%;
    }

    .admin__table--coleccion {
        width: 74%;
    }

    .admin__td--editorial {
        padding: 12px 0px;
    }

    .admin__td--coleccion {
        padding: 12px 0px;
    }

    .admin__thead-tr--editorial,
    .admin__tbody-tr--editorial {
        width: 286px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c2c2;
        background-color: #EFE8E8;
        padding: 1em;
        margin-bottom: 1em;
    }

    .admin__thead-tr--coleccion,
    .admin__tbody-tr--coleccion {
        width: 286px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c2c2;
        background-color: #EFE8E8;
        padding: 1em;
        margin-bottom: 1em;
    }

    .admin__thead--editorial {
        display: none;
    }

    .admin__thead--coleccion {
        display: none;
    }

    .admin__td--editorial[data-datos] {
        display: flex;
    }

    .admin__td--coleccion[data-datos] {
        display: flex;
    }

    .admin__td--editorial[data-datos]::before {
        content: attr(data-datos);
        width: 95px;
        color: #D99255;
        font-weight: bold;
    }

    .admin__td--coleccion[data-datos]::before {
        content: attr(data-datos);
        width: 95px;
        color: #D99255;
        font-weight: bold;
    }
}

@media screen and (min-width: 642px) {

    // Contacto
    .formulario__div {
        width: 498px;
        padding: 50px;
    }
}

@media screen and (min-width: 667px) {

    // Email
    .email__div {
        width: 547px;
        margin: auto;
    }

    .email__input {
        height: 40px;
        font-size: 15px;
    }

    .email__label {
        font-size: 19px;
    }

    .email__button {
        font-size: 16px;
    }
}

@media screen and (min-width:700px) {

    //footer
    .footer__informacion--width {
        width: 50%;
    }

    .footer__redes-sociales--width,
    .footer__contacto--width {
        width: 25%;
    }

    .footer__copyright {
        height: 55px;
    }
}

@media screen and(max-width: 750px) {

    // Admin Autor
    .admin__table--autor {
        width: 74%;
    }

    .admin__td--autor {
        padding: 12px 0px;
    }

    .admin__thead-tr--autor,
    .admin__tbody-tr--autor {
        width: 286px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c2c2;
        background-color: #EFE8E8;
        padding: 1em;
        margin-bottom: 1em;
    }

    .admin__thead--autor {
        display: none;
    }

    .admin__td--autor[data-datos] {
        display: flex;
    }

    .admin__td--autor[data-datos]::before {
        content: attr(data-datos);
        width: 135px;
        color: #D99255;
        font-weight: bold;
    }
}


@media screen and (max-width: 768px) {

    // Carrito
    .carrito__thead {
        display: none;
    }

    .carrito__td {
        display: block;
        text-align: center;
    }

    // WishList
    .wishlist__tabla-td--inline {
        display: inline-block;
    }

    .wishlist__tabla-thead {
        display: none;
    }

    .whishlist__tabla-td--block {
        display: block;
        text-align: center;
    }
}

@media screen and(min-width: 768px) {

    // Carrito
    .carrito__portada {
        width: 44%;
        height: 191px;
        margin-right: 5%;
    }

    .precio {
        visibility: hidden;
    }

    // Detalles del ejemplar
    .detalles {
        display: flex;
        width: 100%;

        &__portada {
            width: 40%;
            margin-bottom: 2%;
        }

        &__separador {
            border-right: 1px solid #898785;
            height: 445px;
            margin-left: 10%;
            margin-bottom: 1%;

            visibility: visible;
        }

        &__texto {
            margin-left: 10%;
            width: 50%;
        }
    }

    // Index
    .inicio__bienvenido {
        font-size: 53px;
    }

    // Verificación
    .verify__boton {
        font-size: 16px;
        margin: 4% 0 2% 0;
    }

    .verify {
        font-size: 17px;
    }

    .verify__titulo {
        font-size: 31px;
    }

    //ejemplares
    .libro {
        margin: 7% 0;
    }

    .buscador {
        width: 300px;

        &__input {
            width: 300px;
        }
    }
}

@media screen and (max-width: 860px) {

    // Estilos generales
    .header__ul {
        position: absolute;
        left: -141px;
        background-color: #dda056;
        border-radius: 3px;
    }

    .header__menu-barra {
        visibility: visible;
    }

    .header--height {
        height: 70px;
    }

}

@media screen and (min-width: 861px) {

    // Perfil
    .usuario__alquileres-nada {
        font-size: 1.2em;
    }

    .usuario__change {
        display: none;
    }

    .usuario__perfil:hover .usuario__imagen-label {
        visibility: visible;
    }

    .usuario__imagen-span {
        color: black;
    }

    .usuario__imagen-label {
        width: 100%;
        height: 157px;
        border-radius: 4px;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        margin-bottom: 3%;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        visibility: hidden;
    }

    .usuario__perfil {
        width: 141.47px;
        height: 159px;
    }

    .perfil {
        display: grid;
        grid-template-columns: 25% 62%;
        gap: 10%;
    }

    .menu-usuario {
        width: 244px;
        margin: 34px 14px;
    }

    .usuario {
        width: 100%;
    }

    .usuario__div {
        display: flex;
        gap: 3%;
    }

    .usuario__div--width {
        width: 100%;
    }

    .usuario__input {
        height: 45px;
        font-size: 1vw;
    }

    .usuario__boton {
        width: 27%;
        padding: 1% 6%;
    }

    .usuario__a {
        text-align: center;
        width: 27%;
        padding: 1% 2%;
    }

    // Estilos generales
    .header__ul {
        display: flex;
        justify-content: center;
    }

    .header__menu-barra {
        visibility: hidden;
    }

    // Login
    .main-login__form {
        width: 105%;
        margin: auto;
        margin-top: 9%;
    }

    .main-login__separador {
        visibility: visible;
        position: relative;
        border-left: 1px solid black;
        max-height: max-content;
    }

    .main-login {
        width: 86%;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 4%;

        display: grid;
        grid-template-columns: 50% 1fr 50%;
    }

    .main-login__input {
        font-size: 15px;
    }

    .main-login__recuperar-contrasenia {
        font-size: 17px;
    }

    .main-login__p {
        font-size: 17px;
    }

    .main-login__portada {
        width: 100%;
        height: 100%;
    }

    .main-login__img {
        margin-right: 3%;
        visibility: visible;
        position: relative;
    }

    // Registro
    .main-registro__form {
        width: 90%;
    }

    .main-registro__div {
        display: flex;
    }

    .main-registro__input {
        font-size: 12px;
    }

    .main-registro__div--width {
        width: 33%;
    }

    .main-registro__div--mb {
        margin-bottom: 2%;
    }

    .main-registro__email--width {
        width: 57%;
    }

    .main-registro__date--width {
        width: 46%;
    }

    .main-registro__password--width {
        width: 56%;
    }

    .main-registro__p {
        visibility: visible;
        position: relative;
        margin-bottom: 29%;
    }

    .main-registro__div-p {
        margin-right: 4%;
    }

    .main-registro {
        width: 90%;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 4%;

        display: grid;
        grid-template-columns: 30% 1fr 80%;
    }

    .main-registro__separador {
        visibility: visible;
        position: relative;
        border-left: 1px solid black;
        max-height: 450px;
    }

    // Conocenos
    .conocenos__div,
    .conocenos__div-dos {
        font-size: 16px;
    }
}

@media screen and(max-width: 1024px) {

    // Admin usuario
    .buscador__input {
        font-size: 11px;
    }

    // Admin tablas
    .admin__table--usuario {
        width: 74%;
    }

    .admin__td--usuario {
        padding: 12px 0px;
    }

    .admin__thead-tr--usuario,
    .admin__tbody-tr--usuario {
        width: 286px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c2c2;
        background-color: #EFE8E8;
        padding: 1em;
        margin-bottom: 1em;
    }

    .admin__thead--usuario {
        display: none;
    }

    .admin__td--usuario[data-datos] {
        display: flex;
    }

    .admin__td--usuario[data-datos]::before {
        content: attr(data-datos);
        width: 95px;
        color: #D99255;
        font-weight: bold;
    }
}



@media screen and (min-width: 1024px) {

    //carrito
    .carrito {
        width: 92%;
        display: flex;
        align-items: baseline;
    }

    .carrito__alquilar {
        width: 280px;
    }

    //ejemplares
    .ejemplares {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // justify-content: space-between;
    }

    .libro {
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1086px) {

    // Estilos generales
    .header__a {
        padding: .5em 2em;
    }
}

@media screen and (min-width:1234px) {

    // Admin Index
    .admin-inicio {
        display: flex;
        justify-content: space-around;
    }

    .admin-inicio__grafica {
        margin: 0;
    }

    .admin-inicio__alquileres {
        margin: 0;
        overflow: hidden;
    }
}

@media screen and (min-width: 1154px) {

    // Estilos generales
    .header__a {
        padding: .5em 2em;
    }
}

@media screen and(max-width: 1274px) {

    // // Admin tablas ejemplar
    .admin__table--ejemplar {
        width: 74%;
    }

    .admin__thead-tr--ejemplar,
    .admin__tbody-tr--ejemplar {
        width: 286px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #c4c2c2;
        background-color: #EFE8E8;
        padding: 1em;
        margin-bottom: 1em;
    }

    .admin__thead--ejemplar {
        display: none;
    }

    .admin__td--ejemplar[data-datos] {
        display: flex;
    }

    .admin__td--ejemplar[data-datos]::before {
        content: attr(data-datos);
        width: 125px;
        color: #D99255;
        font-weight: bold;
    }
}

@media screen and(min-width: 1440px) {
    .verify__boton {
        font-size: 18px;
    }

    .verify {
        font-size: 19px;
    }

    .verify__titulo {
        font-size: 42px;
    }
}