.ventana-crear__ejemplar {
    width: 97%;
    top: 15%;
}

.ventana-crear__input-ejemplar {
    width: 33%;
    padding-left: 2.5%;
}

.ventana-crear__ejemplar input[type="file"] {
    display: none;
}

.admin__contenido-ejemplar--ellipsis {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin__ejemplar-portada {
    width: 74%;
    height: 35px;
}

.ejemplar__textarea {
    background-color: #fbfbfb;
    width: 97%;
    height: 110px;
    border-radius: 5px;
    border: 1px solid #D99255;
    margin: 2% 0 1% 0;
    padding: 3.8% 0 0 3.5%;
    resize: none;

    &:focus {
        outline: 0;
        border: 1px solid #97d848;
    }
}

.ventana-crear__ejemplar-file {
    width: 136px;
    border: 1px solid #D99255;
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 3%;
    margin-left: 74px;
    font-family: $apartados-font;
}

.admin-crear__ejemplar-label-select {
    display: inline-block;
    width: 70px;
    font-size: .9em;
    margin-bottom: 4%;
    font-family: $apartados-font;
}

.admin-crear__ejemplar-select {
    background-color: #fbfbfb;
    height: 23px;
    border-radius: 5px;
    border: 1px solid #D99255;

    &:focus {
        outline: 0;
        border: 1px solid #97d848;
    }
}

.editar-ejemplar {
    width: 94%;
    margin: auto;
    padding: 11px 0;

    &__form {
        margin-top: 15px;
    }

    &__div--flex {
        display: flex;
        justify-content: space-evenly;
    }

    &__h1 {
        text-align: center;
        margin-bottom: 15px;
        font-family: $title-font;
    }

    &__label {
        display: inline-block;
        width: 90px;
        font-size: .9em;
        margin-bottom: 4%;
        font-family: $apartados-font;
    }

    &__input {
        background-color: #fbfbfb;
        width: 51%;
        height: 31px;
        border-radius: 5px;
        border: 1px solid #D99255;
        margin: 1% 0 1% 0;
        padding-left: 3.5%;
        font-size: 12px;

        &:focus {
            outline: 0;
            border: 1px solid #97d848;
        }
    }

    &__button {
        width: 30%;
        background-color: #D99255;
        border: 1px solid #D99255;
        border-radius: 5px;
        color: white;
        height: 30px;
        margin-top: 4%;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            background-color: #b0590e;
            border: 1px solid #b0590e;
        }
    }

    &__a {
        text-decoration: none;
        line-height: 27px;
        text-align: center;
        width: 30%;
        background-color: #D99255;
        border: 1px solid #D99255;
        border-radius: 5px;
        color: white;
        height: 30px;
        margin-top: 4%;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            background-color: #b0590e;
            border: 1px solid #b0590e;
        }
    }

    &__textarea {
        background-color: #fbfbfb;
        width: 97%;
        height: 110px;
        border-radius: 5px;
        border: 1px solid #D99255;
        margin: 0 0 1% 0;
        padding: 3.8% 0 0 3.5%;
        resize: none;

        &:focus {
            outline: 0;
            border: 1px solid #97d848;
        }
    }

    &__select {
        background-color: #fbfbfb;
        height: 23px;
        font-size: .7em;
        border-radius: 5px;
        border: 1px solid #D99255;

        &:focus {
            outline: 0;
            border: 1px solid #97d848;
        }
    }
}