.ventana-crear__rol,
.ventana-crear__editorial,
.ventana-crear__coleccion {
    width: 27%;
}

.ventana-crear__rol-h3,
.ventana-crear__editorial-h3,
.ventana-crear__coleccion-h3,
.ventana-crear__autor-h3 {
    margin: 2% 0 6% 0;
}

.ventana-crear__rol-label {
    width: 36px;
    margin-bottom: 5%;
}

.ventana-crear__editorial-label,
.ventana-crear__colecciom-label,
.ventana-crear__autor-label {
    width: 63px;
    margin-bottom: 5%;
}

.ventana-crear__autor-label {
    width: 125px;
    margin-bottom: 5%;
}

.ventana-crear__rol-input {
    width: 30%;
}

.ventana-crear__editorial-input,
.ventana-crear__coleccion-input,
.ventana-crear__autor-input {
    width: 45%;
}